






<div class="subheader" style="text-align:center"><h2>Hogwarts Houses</h2></div>
<br>
<div class="container-fluid row">
  <% @houses.sort_by(&:name).each do |house| %>
    <div class="col-sm-3 d-flex flex-row">
    <h3 class="text-center">
      <a href="<%=house_path(house)%>" class="col-sm-12">
        <img src="<%=house_img(house)%>" class="center col-sm-12 text-center" style="max-width:auto; max-height:300px">
        <br>
        <%= house.name %>
      </a>
    </h3>
    </div>
  <% end %>
</div>
