<div class="subheader"><h2>Hogwart's Houses</h2></div>

<div class="houses">
<% @houses.each do |house| %>
  <h3><%= link_to house.name, house_path(house) %></h3>
  <p><%= house.description %></p>
<% end %>
</div>
