<style>
  body {
  background: url(https://i.pinimg.com/originals/08/e1/96/08e196b29fa7d964a9254f348c64f655.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

.panel-a {
  background: rgb(0, 0, 0, 0.4)
  /* need to change color of lettering */
  }
</style>


<div class="col-sm-12 d-flex flex-row">
<h3 class="text-center">
  <% if flash[:alert] %>
    <div class="alert" style="color:red">
      <ul>
       <% flash[:alert].each do |alert| %>
        <%= alert %><br>
       <% end %>
      </ul>
     </div>
   <% end %>
