

<div class="col-sm-12 d-flex flex-row"><h2 style="text-align:center; color:white">Enrollment Form</h2></div>
<!-- <div class="col-sm-8">
<img src="https://cdn.shopify.com/s/files/1/1747/8819/products/Hogwarts_Acceptance_Letter_-_Headmistress_700x700.jpg?v=1508091720" alt="welcome to hogwarts letter" style="opacity:.4"></div> -->

<br>
<%= render partial: 'form', locals: { student: @student }%>
