
<br><br><br><br><br>
<div class="container">
  <div class="panel-a">
    <div class="panel-body">
      <div class="col-sm-12 d-flex flex-row"><h6 style="text-align:center; color:white">Enrollment Form</h6></div>
    </div>
  </div>
</div>

<br>
<%= render partial: 'form', locals: { student: @student }%>
