<div class="col-sm-7"></div>
<div class="col-sm-5 d-flex flex-row"><h2 style="text-align:left">Enrollment Form</h2></div>

<div class="col-sm-2">
<img src="https://cdn.shopify.com/s/files/1/1747/8819/products/Hogwarts_Acceptance_Letter_-_Headmistress_700x700.jpg?v=1508091720" alt="welcome to hogwarts letter" style="opacity:.6"></div>

<div class="col-sm-8 d-flex flex-row">
<%= render partial: 'form', locals: { student: @student }%></div>
