
  <% if flash[:notice] %>
   <div class="notice">
     <font size="60" color="purple"><%= flash[:notice] %></font></div>
 <% end %>

<%= render partial: 'student', locals: { s: @student, house: @house }%>

<%= button_to "Edit Student",  edit_student_path(@student), method: :get%>
<%= button_to "Delete Student",  student_path(@student), method: :delete%>
