<style>
  body {
  background: url(https://nerdist.com/wp-content/uploads/2017/08/Harry-potter1-disneyscreencaps.com-5582.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

.panel-a {
  background: rgb(245, 245, 245, 0.3)
  /* need to change color of lettering */
  }

</style>

<div class="col-sm-12 d-flex flex-row">
  <br><br>
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">

        <div class="container-fluid row">


        <h2 class="text-center">Sorting Hat</h2><br>

        <h2>Have a seat on the stool, <%= @student.name %>,</h2>
        <h4>Oh, you may not think I'm pretty, But don't judge on what you see, I'll eat myself if you can find a smarter hat than me ... </h4>

        <br>
        <%= form_for @student do |f| %>
          <h3>Which of these describes you?</h3>
          <h4>or leave it blank and soon you'll see ...</h4>
          <%= f.select :trait, @student.all_traits, include_blank: true %>
          <%= f.submit "Sort Me"%>
        <% end %>

      </div>
