<h1>Sorting Hat</h1>


<h3>Have a seat on the stool, <%= @student.name %>,</h3>
<p>Oh, you may not think I'm pretty, But don't judge on what you see, I'll eat myself if you can find a smarter hat than me ... </p>

<br>
<%= form_for @student do |f| %>
  <h3>Which of these describes you?</h3>
  <% binding.pry %>
  <%= f.select :trait, @student.all_traits %>
  <%= f.submit "Sort Me"%>
<% end %>
