<%= render 'layout' %>


<div class="col-sm-12 d-flex flex-row">
  <br>
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">

      <div style="text-align:center">
        <div class="container-fluid row">
          <div class="subheader"><h3>About</h3><h6 style="color:tan"> <%= @teacher.name %></h6></div>
          <br><br>
          <div class="bio">
             <h3>Biography</h3>
             <h5><%= @teacher.bio %></h5>
          </div>
          <br><br>
          <div class="classes">
             <h1>Classes</h1>
              <% @klasses.each do |klass| %>
                <h3><%= link_to klass.name, klass_path(klass), class: 'tan_text' %></h3>
              <% end %>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>
